/* Ocultar scrollbars pero manteniendo funcionalidad */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.Registro {
    padding: 20px;
  }
  
  .form-container {
    max-width: 650px; 
    width: 80%; 
    padding: 20px 50px;
    margin: 0 auto;
    border-radius: 0;
    border: 8px solid #9DB4D0;
    height: 1050px; 
    overflow-y: auto !important; /* Agregar esta línea */
  }

  .imagen-registro {
    width: 100%; 
    height: auto; 
  }
  
  .MuiInputLabel-root.Mui-focused {
    color: gray !important; 
  }

  .custom-button {
    background-color: orange !important; 
    color: black !important ;
    border-radius: 50px !important; 
    width: 145px !important; 
  }
  
  .custom-button:hover {
    background-color: orange !important;
    color: black !important; 
  }
  
  .container {
    
    display: flex !important;
    justify-content: flex-end !important; 
  }
  
.success-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que el popup esté en la parte superior */
  }
  
  .popup-card {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .popup-card h5 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .popup-card button {
    background-color: orange !important;
    color: black !important;
    border-radius: 50px !important;
    width: 145px !important;
    margin-top: 20px;
  }
  